networkx<3
dot2tex>=2.11.3
templateflow>=0.8.0
graphviz>=0.17
matplotlib>=3.5.2
numpy>=1.21.1
scipy>=1.7.1
numpydoc>=1.1.0
nbsphinx>=0.8.6
pytest>=7.1.2
nipype>=1.8.1
neurodocker>=0.8.0
nilearn>=0.9.1
pybids>=0.15.1
poetry>=1.1.13
poetry-dynamic-versioning>=0.17.1
pydeface>=2.0.0
seaborn>=0.11.2
myst-parser
nibabel>=5.0.0
git+https://github.com/MIC-DKFZ/HD-BET.git
deepbet
scikit-learn==1.1.2
